server:
  port: 8080

spring:
  datasource:
    # url: jdbc:mysql://localhost:3306/shop_app?useSSL=false&serverTimezone=UTC
    url: jdbc:mysql://localhost:3306/shop_app
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

api:
  prefix: api/v1

jwt:
  expiration: 2592000 # 30 * 24 * 60 * 60
  secretKey: eCKhM/uAjCsNHBlxaI58IcpGoz/qrEaJsD3urb1TM0E=

